* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-image: url(/Images/sandeep_yadav_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

*::selection {
    background-color: #0546d1;
    color: #0F172A;
}

.container {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background: linear-gradient(90deg, #000428, #004e92);
    border-bottom: 2px solid #20f1fc;
    box-shadow: 0 0 15px #00f2ff50;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav a {
    height: 100%;
}

nav a img {
    height: 100%;
    cursor: pointer;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0b66f8;
    width: 50%;
    left: 0;
    bottom: -8px;
    transition: .5s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #00d9ff;
}

.icons {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons a {
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a:nth-child(1) {
    color: rgb(255, 255, 255);
}

.icons a:nth-child(2) {
    color: rgb(36, 36, 248);
    background-color: white;
    height: 22px;
    width: 28px;
}

.icons a:nth-child(3) {
    color: rgb(14, 202, 14);
}

.icons a:nth-child(4) {
    color: rgb(248, 37, 79);
}

.icons a:hover {
    color: #00e0ff;
    text-shadow: 0 0 10px #00e0ff;
}

/* Hero section */

.hero-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-outer {
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    height: 400px;
    width: 400px;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-outer {
    color: white;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-outer h1 {
    font-size: 2.6rem;
    line-height: 50px;
    margin-bottom: 20px;
}

.info-outer p {
    color: #E5E7EB;
    margin-top: 20px;
    font-size: 15px;
}

.typing {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgb(6, 72, 255);
    width: 0;
    animation: typing 8s steps(30) infinite;
}

.typing span::before {
    content: "Frontend Developer | UI Enthusiast";
    animation: changeText 8s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    20% {
        width: 27ch;
    }

    40% {
        width: 27ch;
    }

    50% {
        width: 0;
    }

    60% {
        width: 0;
    }

    80% {
        width: 26ch;
    }

    100% {
        width: 26ch;
    }

}

@keyframes changeText {

    0%,
    50% {
        content: "Frontend Developer | UI Enthusiast";
    }

    51%,
    100% {
        content: "ASP.NET Core Backend Developer";
    }
}


/* about */
#about {
    margin-top: 20px;
}

#about h1 {
    text-align: center;
    color: #60A5FA;
    font-size: 3rem;
}

#about hr {
    height: 5px;
    width: 70%;
    background-color: rgba(96, 165, 250, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.about-text {
    margin: 30px auto;
    width: 80%;
    color: #E5E7EB;
    text-align: justify;
}

.about-text p {
    margin-top: 15px;
}

.about-text span {
    color: #3be4fa;
}

#about ul {
    width: 80%;
    font-weight: bold;
    color: #60A5FA;
    display: flex;
    margin: auto;
    font-size: 1.1rem;
    gap: 30px;
}

#about ul li {
    transition: .5s ease;
}

#about ul li:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px #00f2ff);
}

/* skills */

#skills {
    margin-top: 20px;
}

#skills h1 {
    text-align: center;
    color: #60A5FA;
    font-size: 3rem;
}

#skills hr {
    height: 5px;
    width: 70%;
    background-color: rgba(96, 165, 250, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.skill-outer {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-box {
    height: 200px;
    background: linear-gradient(45deg, rgb(39, 88, 224) 50%, rgba(1, 108, 179, 0.85) 20%, rgba(42, 175, 252, 0.85)) 40%;
    border-radius: 10px;
    transition: all 0.4s ease;
}



.skill-box img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.skill-box:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px #00f2ff);
}

#services {
    margin-top: 20px;
}

#services h1 {
    text-align: center;
    color: #60A5FA;
    font-size: 3rem;
}

#services hr {
    height: 5px;
    width: 70%;
    background-color: rgba(96, 165, 250, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.service {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: #E5E7EB;
}

.Services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    background: rgba(15, 25, 45, 0.85);
    transition: all 0.4s ease;
}

.Services-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #00f2ff60;
    transform: translateY(-8px);
}

.Services-box h2 {
    font-size: 20px;
    color: #00f2ff;
}

#project {
    margin-top: 50px;
}

#project h1 {
    text-align: center;
    color: #60A5FA;
    font-size: 3rem;
}

#project hr {
    height: 5px;
    width: 70%;
    background-color: rgba(96, 165, 250, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    gap: 10px;
    place-items: center;
    margin-top: 20px;
}

.image img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid #00c6ff;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px #00f2ff80;
}

#contact {
    margin-top: 50px;
}

#contact h1 {
    text-align: center;
    color: #60A5FA;
    font-size: 3rem;
}

#contact hr {
    height: 5px;
    width: 70%;
    background-color: rgba(96, 165, 250, 0.5);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.contact-container {
    width: 80%;
    margin: auto;
    display: flex;
    color: #E5E7EB;
    align-items: center;
    margin-top: 50px;
}

.talksme {
    width: 50%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.talksme h2 {
    font-size: 40px;
    color: #00f2ff;
}

.talksme p {
    font-size: 15px;
}

.contact-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-icons p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.query-form {
    height: 100%;
    width: 50%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contact-form .inp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

.contact-form .inp input {
    width: 70%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    height: 38px;
    background: rgb(8, 8, 97);
    margin-top: 40px;
    background-position: center;
}

.contact-form label {
    color: #cfd8ff;
    position: absolute;
    top: 12px;
    left: 80px;
}

.message textarea {
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    width: 70%;
    background: rgb(8, 8, 97);
    height: 150px;
    background-position: center;
}

.btn button {
    background: linear-gradient(90deg, #00f2ff, #0072ff);
    color: #001f3f;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 25px #00f2ff80;
}

footer {
    background: linear-gradient(90deg, #000428, #001f3f);
    color: #e6faff;
    padding: 20px 0;
    margin-top: 30px;
}

.footers {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}